<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sexo</th>
      <th>E-mail</th>
      <th>Data de Nascimento</th>
      <th>Data de Criação</th>
      <th>Data de Edição</th>
      <th>Cursos Inscritos</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="estudante in estudantes track by $index">
      <td>{{estudante.nome}}</td>
      <td>{{estudante.sexo}}</td>
      <td>{{estudante.email}}</td>
      <td>{{estudante.data_de_nascimento}}</td>
      <td>{{estudante.createdAt}}</td>
      <td>{{estudante.modifiedAt}}</td>
      <td>
        <span class="label label-default" ng-repeat="curso in estudante.cursos">{{curso.nome}}</span>
      </td>
      <td>
        <a href="javascript:void(0);" ng-click="editar($index)" class="btn btn-default">Editar</a>
        <a href="javascript:void(0);" ng-click="excluir($index)" class="btn btn-danger">Excluir</a>
      </td>
    </tr>
  </tbody>
</table>