
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Formulário de Curso</h4>
    </div>
    <div class="modal-body">

      <form>
        
        <div class="form-group">
          <label>Nome</label>
          <input type="text" ng-model="curso.nome" class="form-control" required>
        </div>

      </form>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    </div>
  </div>
</div>