<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data de Criação</th>
      <th>Data de Edição</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="curso in cursos track by $index">
      <td>{{curso.nome}}</td>
      <td>{{curso.createdAt}}</td>
      <td>{{curso.modifiedAt}}</td>
      <td>
        <a href="javascript:void(0);" ng-click="editar($index)" class="btn btn-default">Editar</a>
        <a href="javascript:void(0);" ng-click="excluir($index)" class="btn btn-danger">Excluir</a>
      </td>
    </tr>
  </tbody>
</table>