<div class="row">
  <div class="col-xs-12">

    <p>
      <a data-toggle="modal" data-target="#modal-formulario" class="btn btn-success btn-lg">Adicionar Novo Estudante</a>
    </p>

    <div class="table-responsive" ng-include="'views/estudantes/tabela.html'">
    </div>

    <div class="alert alert-info" ng-if="estudantes.length == 0">Não há estudantes cadastrados no momento.</div>

  </div>
</div>

<div class="modal fade" id="modal-formulario" ng-include="'views/estudantes/formulario.html'">
</div>